body {
   font-family: Arial, sans-serif;
   display: flex;
   justify-content: center;


}

.calendar {
     width: 400px;
}

.month {
    text-align: center;
    font-size: 34px;
    margin-bottom: 10px;
    cursor: pointer;
}

.days, .dates {
     display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: left;
    vertical-align: text-top;
}

.days div {
   font-weight: bold;
   padding: 10px;
}

.dates div {
   padding: 10px;
   border: 1px solid #ddd;
   min-height: 120px;
   min-width:120px;
}

.dates div:hover {
   background: #e0e0ff;
   cursor: pointer;
}

#left {

  background-color: grey;
  cursor: pointer;
  position: absolute;
  height: 30px;
  width: 30px;
  left:500px;
  top: 15px;

}

#right {

  background-color: grey;
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 30px;
  left:735px;
  top: 15px;

}

.hidden{
   display: none;
}

#datePicker{

  position: absolute;
  background: white;
  padding: 10px;
  border: 1px solid black;
  left:100px;
  top: 10px;

}

.calendar-day {
     border: 1px solid white;
     padding: 5px;
     position: relative;
     min-height: 80px;
     overflow: hidden;

}

.note {
   font-size: 12px;
   max-height: 40px;
   overflow-y: auto;
   margin-top: 3px;
   word-wrap: break-word;
   overflow-wrap: break-word;
   
}

.day-input {
   width: 90%;
   font-size: 12px;
}