<!--navigation bar for all pages, to be in line-->
        <div id="titles">
            <a href="index.html"><img src="/images/mmulogo.png" alt="MMU Events Logo"></a>
            <p id="title">MMU EVENTS</p>
        </div>
        <nav>
            <!--nav will be linked once added to pages-->
            <a href="EventPage.html">Events</a>
            <a href="PersonalCalendar.html">Bookings</a>
            <a href="forum.html">Forum</a>
        </nav>

        <div id="search">
            <input type="text" placeholder="Search for events...">
            <button>Search</button>
        </div>

        <div id="user-profile">
            <!--inject html via js to add details-->
            <p><img src="/images/emptypfp.png" alt="User Profile"></p>
            <p>USERS NAME</p>
        </div>

